@media(max-width:768px){

.hotel_list_container{
flex-direction:column;
}

.hotel_grid{
grid-template-columns:1fr;
}

.nav_container{
padding:15px 20px;
}

/* hide links */

.nav_links{
display:none;
flex-direction:column;
position:absolute;
top:60px;
right:0;
background:#003580;
width:200px;
padding:20px;
gap:15px;
}

/* show menu */

.nav_links.active{
display:flex;
}

/* hamburger visible */

.hamburger{
display:block;
}
.details_card{
flex-direction:column;
text-align:center;
gap:20px;
}

.details_img{
width:100%;
height:220px;
}
.filter{
flex-direction:column;
align-items:flex-start;
width:100%;
gap:12px;
}

.filter select{
width:100%;
}

}


/* Tablet */

@media(max-width:1024px){

.home_hotels{
grid-template-columns:repeat(2,1fr);
}

.hotel_grid{
grid-template-columns:repeat(2,1fr);
}

}

/* Mobile */

@media(max-width:768px){

.home_container{
padding:30px;
}

.home_title{
font-size:28px;
}

.home_hotels{
grid-template-columns:1fr;
}

.hotel_grid{
grid-template-columns:1fr;
}

.hotel_list_container{
flex-direction:column;
padding:20px;
}

}